// TODO add other attributes and possibility to put link inside label
mixin checkbox(label, name, checked, href, descr)
	+e.INPUT.input(type = "checkbox",name = name, id=name, checked=checked)
	+e.LABEL.label(for=name) #{label}
		if href
			+e.A.link(href=href target="_blank") #{descr}

mixin skills()
	+b.SECTION.skills&attributes(attributes)
		+e.H3.title Расскажите о себе чекбоксами

		+e.P.description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

		+e.DIV.checkbox-wrapper
			+e.DIV.column
				+checkbox("БЭМ/OOCSS", "bem", true)
				+checkbox("Pug (Jade)", "jade")
				+checkbox("Stylus/LESS/SASS", "preproc", true)
				+checkbox("Работаю с SVG", "svg")
				+checkbox("Верстаю семантично", "semantic", true)
				+checkbox("Accessibility (A11Y)", "aria")
				+checkbox("ES2015/ES2016", "es6", true)

			+e.DIV.column
				+checkbox("Gulp/GRUNT", "gulp", true)
				+checkbox("Webpack", "webpack", true)
				+checkbox("Дружу с WebGL", "webGL")
				+checkbox("jQuery", "jQuery")
				+checkbox("Знаю/изучаю Angular", "angular")
				+checkbox("Знаю/изучаю React", "react", true)
				+checkbox("Знаю/изучаю Node.js", "node")

			+e.DIV.column
				+checkbox("Использую Git", "git", true)
				+checkbox("С глазомером всё ок", "eye", true)
				+checkbox("Читаю", "csssr", true, "http://blog.csssr.ru", "blog.csssr.ru")
				+checkbox("Я ленивый(-ая)", "lasy")
				+checkbox("У меня хороший английсский", "english", true)

		block
